.button {
    margin-top: 10px;
    width: 120px;
    height: 35px;
    border: none;
    font-weight: bold;
    color: var(--background-cabecera);
    background-color: var(--color-font);
    cursor: pointer;
}