:root{
    --texto:#fff;
    --fondo: #f3f5fc;
    ---blue100: #e8f3fc;
    --blue200: #356EA9;
    --blue300: #0A3871;
    --blue400: #072B61;
    --blue500: #052051;
}

.body{
    font-family: 'Open Sans', sans-serif;
    background: var(---blue100);
}

header img{
    margin:40px -20px;
    width:20%;
}

.contenido{
    width: 90%;
    height: 100%;
}

main{
    width: 98%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido{
    width: 90%;
    height: 70%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin:0 0 2% 0;
}

.contenido p{
    font-size: 1.7em;
}

.contenido p img{
    width: 0.8em;
}

.contenido #entrada-user{
    width: 100%;
    margin-top: 5%;
    min-height:55%;
    padding: 1px 6px;
    display: block;
    overflow: hidden;
    resize: both;
    line-height: 100%;
    font-size: 5em;
    text-align:left;
    border: 1px solid var(---fondo);
    background: var(---blue100);
    color:var(--blue500);
}

.bottones{
    width: 100%;
    height: 30%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}



.btn-encriptador, .btn-desencriptador{
    width: 100%;
    height: 40%;
    border:1px solid var(--blue500);
    background: var(---fondo);
    border-radius: 40px;
    color:var(--blue500);
    font-size: 30px;
    transition: 0.5s;
}

.btn-encriptador{
    color:var(--texto);
    background: var(--blue500);
    
}

.btn-encriptador:hover, .btn-desencriptador:hover, #copiar:hover{
    transform: scale(1.025);
    cursor: pointer;
}

.contenet-result{
    width: 50%;
    border-radius:30px;
    box-shadow: 1px -1px 100px 10px rgba(0,0,0,0.2);
    background:var(--texto);
    text-align: center;
    overflow: hidden;
}

#boton-textarea{
    width: 100%;
    height: 100%;
    padding: 1em; 
    box-sizing: border-box;
    display: none;
}


#text-resultado{
    width: 100%;
    height: 85%;
    resize: none;
    border:none;
    font-size: 2em;
    color:var(--blue400);
}

#copiar{
    width: 100%;
    height: 10%;
    margin:5% auto;
    border-radius: 12px;
    color:var(--blue400);
    border:1px solid var(--blue400);
    transition: 0.5s;
}


#resultado img{
    display: none;
}

#resultado #title{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 5%;
}

#resultado p{
    font-size: 2em;
}

/*Responsive*/

@media not screen and (min-width:780px){
    header img{
        margin:40px -10px;
        width:10%;
    }
    .bottones{
        flex-direction: row;
    }
}


@media only screen and (min-width:992px) {
    header img{
        margin:40px -20px;
        width:10%;
    }

    .body{
        display: grid;
        place-content: center;
    }

    main{
        width: 150vh;
        height: 75vh;
        flex-direction: row;
        align-items: center;
    }

    .contenido{
        height: 100%;
        margin: 5% 2%;
    }

    .contenido #entrada-user{
        font-size: 2em;
        height: 100%;
        max-width: 600px;
        max-height: 700px;
        margin:5% 0 10% 0;
        resize: none;
    }

    .contenido p{
        margin: -8% 0 2% 0;
        font-size: 0.7em;
    }

    .bottones{
        flex-direction: row;
        justify-content: space-between;
        height: 10%;
    }

    .btn-encriptador, .btn-desencriptador{
        width: 49%;
        height: 100%;
        font-size: 1em;
        border-radius: 15px;
    }
    .contenet-result{
        margin:-10% 0 0 0;
        margin-left: 10%;
        width: 50%;
        height: 90vh;
        max-width: 45%;
        max-height: 95vh;
    }

    #resultado img{
        display: block;
        margin-top: 60%;
        position: inherit;
        width: 100%;
    }

    #resultado #title{
        font-size: 1em;
    }
    
    #resultado p{
        font-size: .7em;
    }

}

