<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style_home.css">
    <title>AluraGeek</title>
</head>

<body>
    <header class="cabecera"></header>
    <!-- <span class="agregar">
        <h2 class="title">Todos los productos</h2>
        <div class="agregar__formulario"></div>
        <button class="agregar__buton button">Agregar producto</button>
    </span> -->
    <main class="content">
        <section class="content__productos productos"></section>
        <section class="content__descripcion section"> </section>
    </main>
    <footear class="pie"></footear>
    <script type="module" src="/assets/js/script_home.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.js"></script>
    <script type="module" src="/assets/js/script.js"></script>
</body>

</html>