:root {
    --color-font: #2A7AE4;
    --color-shadow: rgba(42 122 228 / .3);
    --background-cabecera: rgb(255 255 255);
    --background-body-1: rgb(229, 229, 229);
    --background-body-2: rgb(234, 242, 253);
}